#contact_form {
	width: 450px;   
    font-size: 15px;
    color: #000000;
	margin-left: 0px;
}
/** FORM STYLES GENERAL **/
#contact_form input, select, textarea {
    font-size: 15px;
    color:#999999;
    width: 240px;
    height: 35px;
    border: #CCC solid 1px;
/** BORDER RADIUS HACKS **/
    border-radius: 15px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
	margin: 10px 0 0 10px;
	 float: left;
}

#contact_form input:hover, select:hover, textarea:hover {
    border: 1px solid #999;
}

#contact_form input:focus, select:focus, textarea:focus {
    border: 1px solid #999;
}

/** FORM STYLE: select **/
#contact_form select {
	margin: 0px 0 0 35px;
    padding: 0 15px 0px 30px;
	width: 275px;
}
#contact_form select option {
    cursor: pointer;
    padding: 5px;
}
/** FORM STYLE: textarea **/
#contact_form textarea {
    height: 28px;
}
/** FORM STYLE: input **/
#contact_form input {
    padding: 0 5px 0px 30px;
    background-position: 7px 5px;
    background-repeat: no-repeat;
}

input#send, input#send1, input#send2, input#send3, /*{*/
#send, #send1, #send2, #send3 {
	width: 236px;
	height: 39px;
  	background: url(send_button.png) no-repeat;	
	margin: 0px 0 0 32px;
    border: 0px solid #999;
}

input#send:hover, input#send1:hover, input#send2:hover, input#send3:hover {
 cursor: pointer;
 background-position: 0 -39px;
   border: 0px solid #999;
}

input#send4 {
	width: 200px;
	height: 45px;
  	background: #66cc33;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*Gradient*/
background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

/*Тень*/
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
/*transition*/
-webkit-transition: All 0.5s ease;
-moz-transition: All 0.5s ease;
-o-transition: All 0.5s ease;
-ms-transition: All 0.5s ease;
transition: All 0.5s ease;
	padding: 10px 10px 10px 10px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

input#send4:hover {
   font-size: 20px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
 box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

#contact_form label {
    display:inline-block;
    width: 100px;
    vertical-align:top;
    margin-top: 16px;
	float: left;
	color: #595959;
	text-align: right;
	font-size: 18px;
}
/** CONTAINER OF INPUTS **/
#contact_form span {
    border:0;
    padding:0;
    margin:0;
    display: block;
    margin-bottom: 10px;
}


#email {
  
}

#phone {
 
}

#ajax_loader {
    display:none;
}
#ajax_loader1 {
    display:none;
}
#ajax_loader2 {
    display:none;
}
#ajax_loader3 {
    display:none;
}
#ajax_loader4 {
    display:none;
}
.success {
width: 300px;
    display:none;
    margin-top: 3px;
    font-size: 11px;
    color:#fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
	font-size: 20px;
}
.error {
	width: 300px;
    display:none;
    margin-top: 3px;
    font-size: 11px;
    color:#fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
   
}
.warning {
	display: none;
	float: right; 
	background-position: center center;
	margin-right: 60px;
	width: 30px; 
	height: 30px;
	
}


#contact_form .noicon {
    padding: 0px 7px 0 7px;
    text-align:center;
}


