body {
    
div#contact {
    width: 300px;
    margin: auto;
	float: left;
}


div#top {
   
    height: 64px;
}

div#top h1 {
    font-family: Verdana, Arial;
    font-size: 22px;
    font-weight: normal;
    padding: 20px 0 0 20px;
    color: #fff;
}

div#center {
  
    padding: 5px 15px 5px 25px;
}

div#bot {
   
    height: 13px;
}

* body h2 {
    border-bottom: 1px solid #03436A;
    color:#03436A;
}
