
.icon-procent:before { content: '\e800'; } /* '' */
.icon-quality:before { content: '\e801'; } /* '' */
.icon-delivery:before { content: '\e802'; } /* '' */
.icon-garanty:before { content: '\e803'; } /* '' */
.icon-dot-3:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-face:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-plus-circle:before { content: '\e80c'; } /* '' */
.icon-zamok:before { content: '\e80d'; } /* '' */
.icon-close:before { content: '\e80e'; } /* '' */
.icon-clock:before { content: '\e80f'; } /* '' */
.icon-cart:before { content: '\e810'; } /* '' */
.icon-heart-empty:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-inst:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\e814'; } /* '' */
.icon-check:before { content: '\e815'; } /* '' */
.icon-phone call:before { content: '\e816'; } /* '' */
.icon-map:before { content: '\e817'; } /* '' */
.icon-diamond:before { content: '\e81b'; } /* '' */
.icon-letter 2:before { content: '\e81c'; } /* '' */
.icon-letter 1:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-list:before { content: '\e81f'; } /* '' */
.icon-cvadr:before { content: '\e820'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-yandex-rect:before { content: '\f306'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */