@import "bourbon"; // fonts
$main-font: "Roboto-Light", sans-serif;
$thin-font: "Roboto-Thin", sans-serif;
$reg-font: "Roboto-Regular", sans-serif;
$medium-font: "Roboto-Medium", sans-serif;
$bold-font: "Roboto-Bold", sans-serif;
$open-font: "Open_Sans-Light", sans-serif;
$italic-font: "Roboto-LightIt", sans-serif; // colors
$blue-bg: #04a5e7;
$blue-dark: #0091cd;
$blue-light: #79cff2;
$gray-color: #9b9b9b;
$yellow-color: #f5ae02;
$light-gray: #e9e9e9;
$pink-color: #e45293;
