.flabForm {
  color: $black;
  position: relative;
  @include media-breakpoint-down(lg) {
    margin-top: rem(80px);
  }
  &__inwrap{
    @include media-breakpoint-down(lg) {
			margin-top: rem(30px);
		}
  }
  &__bg{
    background-color: $white;
    padding: rem(20px) rem(120px) rem(20px) rem(35px);
    box-shadow: 0 rem(2px) rem(32px) rgba($black,.13);
    @include media-breakpoint-down(lg) {
			padding: rem(20px) rem(35px);
      box-shadow: none;
		}
  }
	&__subtitle {
    font-weight: normal;
    text-transform: uppercase;
    font-size: $f_sz_fifth;
	}
  &__group{
    position: relative;
    .flabIcon{
      position: absolute;
      right: 0;
      top: rem(7px);
      z-index: 0;
      color: lighten($black,50);
    }
  }
  &__descr{
    font-size: $f_sz_fourth;
  }
  &__btnwrap{
    @include media-breakpoint-down(lg) {
      background-color: $white;
      text-align: center;
      padding-top: rem(20px);
      padding-bottom: rem(45px);

		}
  }
  &__button{
    border: none;
    background: none;
    outline: none;
    background-color: $secondary_color;
    color: $white;
    box-shadow: 0 rem(2px) rem(32px) rgba($black,.13);
    width: rem(210px);
    text-align: center;
    cursor: pointer;
    height: rem(60px);
    text-transform: uppercase;
    font-size: $f_sz_fourth;
    position: absolute;
    top: rem(53px);
    right: rem(15px);
    overflow: hidden;
    > span {
      vertical-align: middle;
      display: block;
    	transform: scale3d(0.2, 0.2, 1);
    	opacity: 0;
    	transition: transform 0.3s, opacity 0.3s;
    	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:before,
    &:after {
    	content: attr(data-text);
    	position: absolute;
    	width: 100%;
    	height: 50%;
    	left: 0;
    	background: $white;
    	color: $black;
    	overflow: hidden;
    	transition: transform 0.3s;
    	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:before {
    	top: 0;
    	padding-top: rem(17px);
    }
    &:after {
    	bottom: 0;
    	line-height: 0;
    }
    &:hover{
      &:before {
      	transform: translate3d(0, -100%, 0);
      }
      &:after {
      	transform: translate3d(0, 100%, 0);
      }
      > span {
      	opacity: 1;
      	transform: scale3d(1, 1, 1);
      }
    }
    @include media-breakpoint-down(lg) {
			position: relative;
      top: auto;
      right: auto;
		}
    &:focus{
      outline: none;
    }
  }
}
.input-daterange input:first-child {
    border-radius: 0;
}
.flabRange,
.input-daterange input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: rem(1px) solid darken($white,15);
  text-align: left;
  border-radius: 0;
  position: relative;
  z-index: 0;
  background-color: transparent;
  line-height: rem(35px);
  height: rem(35px);
  font-size: $f_sz_third;
  font-family: 'Muller';
  padding-left: 3px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 rem(3px) 0 0 transparent;
  transition: box-shadow .3s ease;
  &:disabled{
    cursor: not-allowed;
    border-radius: 0;
    background-color: rgba($black,.1);
  }
  &:focus{
    border-bottom: rem(1px) solid lighten($secondary_color,20);
    box-shadow: 0 rem(3px) 0 0 lighten($secondary_color,20);
    border-radius: 0;
  }
  &:last-child{
    border-radius: 0;
  }
}
.flabSelect {
  &.selectize-control{
    &.single{
      .selectize-input{
        font-size: $f_sz_third;
        font-family: 'Muller';
        color: $black;
        padding-left: rem(3px);
        z-index: 0;
        &.disabled{
          cursor: not-allowed;
          border-radius: 0;
          background-color: rgba($black,.1);
        }
        &:after{
          content: "ï„‡";
          font-family: 'flabioiconfont';
          border-width: 0;
          border-style: none;
          display: inline-block;
          top: 0;
          font-size: $f_sz_fifth;
          margin-top: 0;
          width: auto;
          height: auto;
          right: rem(3px);
          text-align: center;
          color: lighten($black,50);
          padding: 0;
          transform: rotate(0deg);
          transition: transform .3s ease;
        }
        &.dropdown-active{
          &:after{
            margin-top: 0;
            border-color: transparent;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .selectize-input{
    border: none;
    box-shadow: none;
    border-bottom: rem(1px) solid darken($white,15);
    height: auto;
    line-height: rem(35px);
    height: rem(35px);
    padding: 0;
    border-radius: 0;
    transition: box-shadow .3s ease;
    &.dropdown-active{
      border-bottom: rem(1px) solid lighten($secondary_color,20);
      box-shadow: 0 rem(3px) 0 0 lighten($secondary_color,20);
    }
  }
  .selectize-dropdown{
    margin-top: rem(3px);
    border-radius: 0;
  }
}
