.flabGallery {
	position: relative;
	overflow: hidden;
	&__itemSeparate {
		padding: rem(16px) 0 0;
		@include media-breakpoint-down(sm){
			padding: 0;
		}
		&--galleryPhoto {

			padding-bottom: rem(50px);
			.flabGallery__item {
				margin-bottom: 0;
				@include media-breakpoint-down(sm) {
					margin-bottom: rem(20px);
				}
			}
		}
	}
	&__item {
		overflow: hidden;
		margin-bottom: 30px;
		@include media-breakpoint-down(sm) {
			max-width: rem(320px);
			margin: auto;
			margin-bottom: rem(20px);
		}
		a{
			transition: all .4s;
			display: block;
			position: relative;
			&:before {
				position: absolute;
				content: '';
				font-family: 'flabioiconfont';
				color: #fff;
				font-size: rem(38px);
				background-color: rgba(0,0,0,0.7);
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all .4s;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&:hover {
				&:before {
					opacity: 100;
				}
			}
			img {
				max-width: 100%;
				width: 100%;
			}
		}
	}
	.flabGallery__hiddenItem {
		display: none;
	}
	&--etnoPattern {
		padding-top: 50px;
		padding-bottom: 50px;
		&:after {
			position: absolute;
			content: '';
			font-family: 'flabioiconfont';
			font-size: 19.3125rem;
			color: rgba(252, 235, 235, 0.8);
			top: 50%;
			transform: translateY(-50%);
			left: -153px;
			z-index: -1;
		}
		&:before {
			position: absolute;
			content: '';
			font-family: 'flabioiconfont';
			font-size: 19.3125rem;
			color: rgba(252, 235, 235, 0.8);
			top: 50%;
			transform: translateY(-50%);
			right: -153px;
			z-index: -1;
		}
	}
}
