
.icon-phone:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-send:before { content: '\e802'; } /* '' */
.icon-sky:before { content: '\e803'; } /* '' */
.icon-vibe:before { content: '\e804'; } /* '' */
.icon-circle:before { content: '\e805'; } /* '' */
.icon-crm:before { content: '\e806'; } /* '' */
.icon-graff:before { content: '\e807'; } /* '' */
.icon-graph:before { content: '\e808'; } /* '' */
.icon-king:before { content: '\e809'; } /* '' */
.icon-lista:before { content: '\e80a'; } /* '' */
.icon-note:before { content: '\e80b'; } /* '' */
.icon-pauk:before { content: '\e80c'; } /* '' */